<div class="card-container">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Welcome Back , {{username}} </mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
          <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
            <div class="row-div" fxFlex="50%" fxFlex.xs="100%" style="height: 100%;">
                <div class="list-sides" fxLayout="row" style="height: 100%;">
                    <app-books fxFlex="50%" style="height: 100%;"></app-books>
                    <mat-divider fxFlex="10px"></mat-divider>
                    <app-verses fxFlex="50%" style="height: 100%;"></app-verses>
                </div>
                </div>
                <div class="row-div" fxFlex="50%" fxFlex.xs="100%" style="height: 254px;">
                    <app-grateful style="height: 100%;"></app-grateful>
                </div>
            </mat-card-content>

            <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" style="padding-top: 15px;">
                <div class="row-div" fxFlex="50%" fxFlex.xs="100%" style="height: 254px;">
                <app-verse-of-the-day style="height: 100%;"></app-verse-of-the-day>
                </div>
                <div class="row-div" fxFlex="50%" fxFlex.xs="100%" style="height: 254px;">
                <app-next-read style="height: 100%;"></app-next-read>
                </div>
            </mat-card-content>            
        <mat-card-actions>
          <!-- Action buttons go here -->
          <button mat-button style="color : white">Button 1</button>
          <button mat-button style="color : white">Button 2</button>
        </mat-card-actions>
      </mat-card>
      
</div>
