

<mat-card>
  <mat-card-header>
      <mat-card-title>Reading List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="grid-container">
  
      <mat-form-field style="width: 200px; height: 78px;">
        <input matInput placeholder="What to read next?" [(ngModel)]="nextRead" (keyup.enter)="addReadingItem()">
        <button mat-icon-button matSuffix (click)="addReadingItem()">
          <mat-icon style="color: #333;">add</mat-icon>
        </button>
      </mat-form-field>
      <mat-list style="color: white;">
        <mat-list-item *ngFor="let item of readingList; let i = index" style="color: white;">
          <div style="color: white; display: flex; align-items: center; justify-content: space-between;">
            <span> {{ item }} </span>
            <mat-icon mat-icon-button style="color: white; margin-left: auto;" (click)="deleteItem(i)">delete</mat-icon>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
  
  
