<mat-toolbar color="primary">
    <div class="divider invisible"></div>
    <div class="nav-link">
        <button mat-button (click)="navigateToLanding()">
            <mat-icon style="font-size: 20px;">home</mat-icon>
            HOME
        </button>
    </div>
    <div class="divider"></div>
    <div class="nav-link">
        <button mat-button (click)="navigateToDiscover()">
            <mat-icon style="font-size: 20px;">search</mat-icon>
            DISCOVER
        </button>
    </div>
    <div class="divider"></div>
    <div class="nav-link">
        <button mat-button (click)="navigateToRead()">
            <mat-icon style="font-size: 20px;">menu_book</mat-icon>
            READ
        </button>
    </div>
    <!-- <div class="divider"></div>
        <div class="nav-link">
            <button mat-button (click)="navigateToChat()">
                <mat-icon style="font-size: 20px;">chat</mat-icon>
                CHAT
            </button>
        </div> -->
    <!-- <div class="divider"></div>
    <div class="nav-link">
        <button mat-button>
            <mat-icon style="font-size: 18px;">group</mat-icon>
            CONNECT
        </button>
    </div> -->
    <div class="divider"></div>
    <div class="nav-link">
        <button mat-button (click)="navigateToLearn()">
            <mat-icon style="font-size: 20px;">lightbulb</mat-icon>
            LEARN
        </button>
    </div>
    <div class="divider"></div>
    <div class="user-container">
        <button matTooltip="My Account" mat-icon-button>
            <mat-icon >account_circle</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
        <button matTooltip="Logout" mat-icon-button (click)="onLogout()">
            <mat-icon >logout</mat-icon>
        </button>
    </div>
    <!-- Add other toolbar content here if needed -->
  </mat-toolbar>
  